.cover-sale {
    display: grid;
    vertical-align: top;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    margin-top: 80px;
}
/*.cover-sale-1 {
    size:1fr;
}*/
.cover-sale-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  }
  .cover-sale-img-1 {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    object-position: center;
  }
  .bottom-left-1 {
    position: absolute;
    bottom: 100px;
    left: 16px;
  }
  .bottom-left-2 {
    position: absolute;
    bottom: 70px;
    left: 16px;
    font-size: 20px;
  }
  .bottom-left-3 {
    position: absolute;
    bottom: 50px;
    left: 16px;
    font-size: 12px;
  }
  .bottom-left-1:hover {
    text-decoration: underline;
  }
  .bottom-left-2:hover {
    text-decoration: underline;
  }
  .bottom-left-3:hover {
    text-decoration: underline;
  }

  .cover-img-2 {
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.a {
    margin-top: 10px;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 0;
}
.b {
    margin-top: 10px;
    padding-left: 10px;
    color: rgb(150,150,150);
    font-family: Arial;
    font-size: 15px;
    margin-bottom: 0;
}

.d2 {
    margin: 20px;
    cursor: pointer;
}
.d2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

@media (max-width : 850px) {
    .cover-sale-2 {
        grid-template-columns: 1fr 1fr;
    }
    .cover-sale {
        grid-template-columns: 1fr;
    }

}

@media (min-width : 751px) and (max-width : 999px) {
    .cover-img-2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}



.intro-to-tulua {
  display: grid;
  vertical-align: top;
  margin: 80px 30px;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  column-gap: 30px;
  margin-bottom:200px ;
}

.intro-to-tulua-img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

@media (max-width : 850px) {
  .intro-to-tulua {
      grid-template-columns: 1fr;
      row-gap: 50px;
  }
}